<div class="card" style="width: 18rem;">
  <% @cats.each do |cat| %>
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">

      <h5 class="card-title"><%= cat.name %></h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= cat.color %></li>
          <li class="list-group-item"><%= cat.address %></li>
          <li class="list-group-item"><%= cat.breed %></li>
          <li class="list-group-item"><%= cat.hair_type %></li>
          <li class="list-group-item"><%= cat.gender %></li>
  <% end %>
        </ul>

    <div class="card-body">
      <a  class="btn btn-primary" href="#" class="card-link">Book</a>
      <a  class="btn btn-warning" href="#" class="card-link">Edit</a>
      <a  class="btn btn-danger" href="#" class="card-link">Delete</a>
    </div>
</div>
