<%= render "shared/banner" %>



<div class="container">
  <div class="row mt-5">
      <% @cats.each do |cat| %>
        <div class="col-md-4">

          <div class="card mb-5" style="width: 18rem;">
            <%= cl_image_tag cat.photo.key, height: 300, width: 400, crop: :thumb, class: "card-img-top" %>
            <div class="card-body">

              <h5 class="card-title"><%= link_to cat.name, cat_path(cat) %></h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><%= cat.address %></li>
                <li class="list-group-item"><%= cat.breed %></li>
                <li class="list-group-item"><%= cat.color %></li>
                <li class="list-group-item"><%= cat.hair_type %></li>
                <li class="list-group-item"><%= cat.gender %></li>
              </ul>

            </div>
          </div>
        </div>
        <% end %>
  </div>
</div>





